.main-image{
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.recent-ads{
  display: flex;
  flex-direction: column;
}

.top-layer{
  display: flex;
  margin: 40px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.bottom-layer{
  display: flex;
  margin: 40px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.ad1{
  color: black;
}
