body {
  // background-color: #F8F9FA;
}
.dino-nav {
  margin-left: 5%;
  margin-right: 5%
}
.nav-search {
  width: 400px;
  height: 30px
}

a:link {
  text-decoration: none;

}
.text-color {
  color: #055001;
}
.nav-btn {
  height: 30px;
}
.logo {
  height: 50px;
  width: 50px;
}

.dino-img {
  height: 200px;
  width: 200px;

}

.fav-msg {
  color: rgb(47, 192, 47)
}
.fav-msg:hover {
  color: #808992;
}

.visits {
  height: 30px;
  width: 100px;
  background-color: #808992;
  color: white;
  border-radius: 1px;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
}

.navbar-item > .active > a {
  color: aqua;
  background-color: chartreuse;
}
.nav-item >  {
  color: aqua;
}
