.dino-nav {
  margin-left: 5%;
  margin-right: 5%
}
.nav-search {
  width: 400px;
  height: 30px
}

a:link {
  text-decoration: none;

}
.text-color {
  color: #055001;
}
.nav-btn {
  height: 30px;
}
.logo {
  height: 50px;
  width: 50px;
}

.dino-img {
  height: 200px;
  width: 200px;

}

.checked {
  color: blue;
}
.navbar-item > .active > a {
  color: aqua;
  background-color: chartreuse;
}
.nav-item >  {
  color: aqua;
}
