// See: https://sass-lang.com/
// Layout of homepage

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}
.nav-search {
  width: 300px;
  background-color: red
}

.card:hover{
  box-shadow: 5px 5px #37D338;
}

.shadow-sm:hover{
  box-shadow: 5px 5px #37D338;
}

.shadow:hover{
  box-shadow: 5px 5px #37D338;
}

.card-title{
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}


.py-5{
  background-color: white;
}

.btn-outline-secondary{
  background-color: white;
  border-color: #198754;
  color: #198754;
}

.btn-outline-secondary:hover{
  background-color: #198754;
  border-color: #198754;
  color: white;
}
